@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit Variable', sans-serif;
}

@media screen and (min-width: 1125px) {
  body{
    scrollbar-width: thin;
    scrollbar-color: #272727 transparent; 
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .dark {
    --radius: 0.5rem;
  }
}
