@tailwind utilities;

.app{
  display: grid;
  grid-template-rows: repeat(6, 1fr) 100px;
  grid-template-areas:
    "search main main main"
    "playlist main main main"
    "playlist main main main"
    "playlist main main main"
    "playlist main main main"
    "playlist main main main"
    "footer footer footer footer"
  ;
  height: 100dvh;
}

@media screen and (max-width: 1125px) {
  .app {
    grid-template-rows: repeat(6, 1fr) 70px;
    grid-template-areas:
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
  }

  .playlist {
    display: none;
  }

  .grid-cols-no-collapse {
    grid-template-columns: auto;
  }

  .footer {
    grid-area: footer;
    max-height: 70px;
    overflow: hidden;
  }
}

@layer utilities {
  .grid-cols-no-collapse {
    grid-template-columns: minmax(300px, 400px) 1fr 1fr 1fr;
  }

  .grid-cols-collapse {
    grid-template-columns: minmax(300px, 650px) 1fr 1fr 1fr;
  }
}
